<br>
<div class="demo">
  <div class="container">
    <div class="dropdown">
      <button class="dropbtn"><b>Product</b></button>
      <div class="dropdown-content">
        <a href="#"><b>Car & taxi</b></a><br>
        <a href="compo1"><b>Comprehensive car insuarance</b></a>
        <a href="ThirdParty"><b>Third Party Car Insuarance</b></a>
        <a href="#"><b>commerical car Insuarance</b></a>
      </div>
    </div>
  </div>


  <div class="container">
    <h1>{{sampleText}}</h1>
    <h2><b> Car Insuarance</b></h2>
    <p><b>Insure your car in minutes, without tedious paperwork</b></p>
    <p><b>Car insurance starting at ₹2,094*</b></p>

  </div>

  <div class="container">

    <img src="../../assets/imges/car-insuranceimg01.jpg" class="rounded float-end" alt="car pic" width="30%"
      height="80%" style="align-items: 80%">

  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div>
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control mb-3" id="" rows="3" placeholder="Enter your Car number" required ></textarea> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please Enter your car number to continue</div>
          <!-- <button type="button" class="btn btn-primary">Process</button> -->
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <p style="margin-inline-start: 10%;"><b>______________________or______________________</b></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div>
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control mb-3" id="" rows="3" placeholder="looking to insure your new car?" required ></textarea> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please Enter your car number to continue</div>
          <button type="button" class="btn btn-primary" routerLink="manage" (click)="goto()">Process</button>
        </div>
      </div>
    </div> 
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-8">
        <textarea class="form-control form-control-sm mb-3" rows="3" >  looking to insure your new car?
  Save big with our zero commission insurance   
      </textarea>
      </div>
    </div>
  </div> -->
</div>

<br><br>

<div class="container">
  <p>Home / Motor Insurance / Car Insurance</p>

</div>
<div class="container" class="P1">
  <h2>{{PassageHeading}}</h2>
  <h3><b>Buy/renew car insurance online in India</b></h3><br>
  <h4><b>What is car insurance?</b></h4><br>

</div>
<br>
<div class="container">
  <p>Car insurance refers to an insurance policy that covers various car-related risks.
    You need to pay an insurance premium to purchase a car insurance policy from an insurer
    (for example, ACKO). And if your car faces damages or you cause damage to others via the insured car,
    your insurer will offer financial assistance, as per the applicable terms and conditions.
  </p><br>
  <p>At ACKO, we have curated different car insurance plans to suit your unique needs.
    Whether you want the basic Third-party Insurance Policy or Bumper-to-Bumper Car Insurance,
    you can choose from different types of insurance plans for your car.</p>
  <br>
  <p>You can also customise the Insured Declared Value (IDV) and choose from an array of suitable add-on covers to
    enhance the coverage in case of a Comprehensive Policy. Note that you must renew your car insurance policy within
    the expiry date to enjoy continuous coverage.
    You can quickly renew car insurance online through our simple, easy-to-use mobile app or website.

  </p>
</div>

<h4 style="text-align: center ; margin-top: 8%;">Key features of ACKO’s online car insurance</h4>
<p style="text-align: right; margin: right 0px;">Insuring your car with us is simple, easy, and convenient.
  Being digital-first helps us seamlessly offer almost all of our services online.
  Additionally, you get .</p>
<p style="text-align :center">the following key features</p>

<br><br>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h5 style="font-size: 150%;"><b>Incredibly low premiums</b></h5>
      <p>Thanks to our digital setup, our operational costs are low, and we sell
        car insurance policies directly to you, without middlemen commissions. This results in lower premiums.
      </p>

      <br><br><br>

      <h6 style="font-size: 150%"><strong> Stress-free claims </strong></h6>
      <p>Gone are days when you had to stress over raising a car insurance claim.
        With features such as free pickup and drop*, three-day repair guarantee*,
        and claim tracking, your claims experience with us is bound to be stress-free! (*as per terms and conditions)

      </p>

    </div>

    <div class="col">
      <h6 style="font-size: 150%;"><b>Zero paperwork</b></h6>
      <p>With ACKO, there’s no need to spend time and effort filling out physical forms to insure your car.
        Nor do you have to submit a long list of documents. Everything’s online!
      </p>

      <br><br><br>
      <h6 style="font-size: 150%;"><b>Instant settlement </b></h6>
      <p>ACKO offers instant settlement for minor claims. Major claims may take more time but are settled swiftly as
        well.
        Both minor and major claims are settled as per the applicable policy’s terms and conditions.

      </p>
    </div>
  </div>

  <br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h5 style="font-size: 150%;"><b>Total convenience </b></h5>
        <p>Want to buy car insurance at midnight? Available. Renew the policy on a Sunday?
          Available. Raising claims on a public holiday? Available.
          With ACKO, you get total convenience for all things insurance!

        </p>
      </div>
      <div class="col">
        <h5 style="font-size: 150%;"><b>24x7 Support</b></h5>
        <p>We know that accidents are unpredictable. Thus, you can avail of our 24x7 support, one way or the other, as
          and
          when you require insurance assistance. We are just a call/click away!

        </p>
      </div>
    </div>

  </div>
  <br><br><br><br><br>
  <div class="container">
    <h6 style="font-size: 150%;"><b>More Car Insurance Features</b></h6>
  </div>

  <br><br><br>

  <div class="container mt-3">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><b>KEY FEATURES </b></th>
          <th><b>ACKO ADVANTAGE </b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Premium </td>
          <td>Car insurance plans starting at ₹ 2,094</td>


        </tr>
        <tr>
          <td>Add-ons </td>
          <td>Multiple add-ons available to enhance your insurance plan </td>


        </tr>

        <tr>
          <td>Own Damage policy </td>
          <td>Available under Comprehensive Insurance</td>
        </tr>

        <tr>
          <td>Damages to the third party</td>
          <td>Covered </td>
        </tr>

        <tr>
          <td>Cashless repairs</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Personal Accident (PA) cover</td>
          <td>Available. Cover of Rs. 15 lakh for permanent disability/death while driving
          </td>
        </tr>
        <tr>
          <td>Claim Settlement Ratio (CSR) </td>
          <td>95.53% for FY21-22 (For Private Car Insurance)</td>
        </tr>
        <tr>
          <td>Motor Own Damage Claim Settlement Ratio </td>
          <td>95.50% </td>
        </tr>
        <tr>
          <td>Emergency assistance </td>
          <td>24/7 </td>
        </tr>
        <tr>
          <td>Repairs </td>
          <td>We offer services like 3-day doorstep delivery*, 1-hour pickup*, and instant repairs**.
            You don't have to pay any extra cost to avail these services***.
          </td>
        </tr>
        <tr>
          <td>Buying/renewal process </td>
          <td>100% digitally-driven </td>
        </tr>
        <tr>
          <td>Zero Depreciation Cover </td>
          <td>Available as an add-on/type of cover </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br><br>

  <h5>Why do you need car insurance?</h5>
  <p>Car insurance is crucial to protect your vehicle and you from potential financial implications due to
    accident-related damages or
    third-party liabilities. Here are some of the reasons why you need insurance for cars.

  </p>
  <br><br><br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 style="font-size:150%">Adherence to the law</h1>
        <p>The Motor Vehicles Act, 1988 mandates all motor vehicles, including electric cars,
          to be insured with Third-party Insurance. Failure to adhere to the law invites a penalty of up to
          Rs. 4,000 and/or imprisonment. Thus, it is essential that you buy/renew car insurance to comply with the law.

        </p>
      </div>
      <div class="col">
        <h1 style="font-size: 150%;">Shield against third-party liabilities</h1>
        <p>Third-party liabilities arise when your insured car causes damages to a third party’s property or
          injuries to a third party. Staying financially protected by insuring your car with
          3rd Party Insurance (or Comprehensive Insurance) protects against financial burdens caused due to third-party
          liabilities.

        </p>
      </div>
      <div class="col">
        <h1 style="font-size: 150%;">Coverage against natural calamities</h1>
        <p>Floods, cyclones, earthquakes and other natural calamities can cause severe damage to your car,
          and the extent of the repair cost can be enormous. Comprehensive Car Insurance offers financial
          support for car repairs due to unexpected natural disasters.

        </p>
      </div>

      <br><br><br><br><br>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <h1 style="font-size: 150%;">Personal Accident Cover </h1>
            <p>By insuring your car, you can avail the benefit of the Personal Accident Cover of up to Rs.
              15 lakh. In case of bodily injuries, death or disability while driving the car,
              the policyholder (or the owner-driver) gets compensation under this cover.

            </p>
          </div>
          <div class="col">
            <h1 style="font-size: 150%;">Coverage against vehicle theft </h1>
            <p>Suppose your insured car is stolen and is non-traceable.
              In that case, your Comprehensive Car Insurance Policy compensates you for your financial loss.
              Here, ACKO shall ensure the claim for car theft is settled quickly without any hassles.

            </p>
          </div>
          <div class="col">
            <h1 style="font-size: 150%;">Reduced financial burden </h1>
            <p>A massive dent or a scratch on your car due to an accident or natural or manmade calamities can lead to
              financial losses. For coverage against these liabilities, buy Comprehensive Car Insurance or Own
              Damage cover and stay protected against unforeseen financial losses.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <h2 style="font-size: 150%;"> <b>ACKO car insurance plans</b></h2>
  <p>Planning to buy a car insurance policy? We provide different types of policies for your unique needs.
    Note that these policies, features, and add-ons are subject to availability.
    Please refer to the respective policy wordings for details.

  </p>

  <br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 150%;">1. Third-party Cover </h1>
        <p>A Third-party Liability four wheeler Insurance Policy helps you in case of financial liabilities when you
          accidentally damage other people's property or cause injuries to them.
          Third-party car insurance prices stand revised as per the IRDAI circular dated 01 June 2022.
          Check the new Third-party car insurance rates by <a href="#" class="link-primary"> <mark
              style="color: blue;">clicking Here</mark></a>
        </p>
      </div>
      <div class="col">
        <h1 style="font-size: 150%;">2. Own Damage Cover</h1>
        <p>Third-party Liability Car Insurance cover proves to be inadequate when it comes to damage from accidents,
          natural disasters, fire,
          or theft. Such coverages are provided under an <a href="#" class="link-primary"> <mark
              style="color: blue;">Own damage Insuarance</mark></a></p>

      </div>
    </div>
  </div>

  <br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 150%;">3. Comprehensive - Basic </h1>
        <p>Comprehensive Car Insurance Cover not just secures you against third-party liabilities,
          it also offers insurance for your car in case of flooding, accidents,
          fire, etc. This policy also includes car theft. It is favourable to opt for this policy to
          ensure optimum coverage for your vehicle and reduce financial liabilities.

        </p>
      </div>

      <div class="col">
        <h1 style="font-size: 150%;">4. Comprehensive - Super Saver</h1>
        <p>Exclusive on ACKO. Enjoy Comprehensive Insurance benefits and superior claim experience.
          During claims, we will pick up your car, repair it at one of our partner garages,
          and deliver back at no extra cost. If you fail to inform us before any claim related repairs, you
          will have to pay Rs. 5,000 as a deductible.

        </p>
      </div>
    </div>

  </div>

  <br><br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 150%;">5. Zero Depreciation - Basic </h1>
        <p>Sometimes called the bumper to bumper plan, this plan includes all the benefits of a
          Comprehensive - Basic Plan while additionally covering depreciation costs of parts.
          Without Zero Depreciation benefits only partial costs of some parts like fibre & plastic parts are covered.

        </p>

      </div>
      <div class="col">
        <h1 style="font-size: 150%;">6. Zero Depreciation - Smart Saver</h1>
        <p>Exclusive on ACKO. It has all the benefits of the Zero Depreciation - Basic Plan and comes at
          a discounted price. During a claim, we pay for everything, you just pay Rs. 5,000 (above mandatory charges)
          as a deductible. This gives upfront savings to safe drivers who think chances of them filing a claim are less.

        </p>
      </div>
    </div>
    <br><br><br>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h1 style="font-size: 150%;">7. Zero Depreciation - Super Saver</h1>
          <p>Exclusive on ACKO. Enjoy Comprehensive Insurance & Zero Depreciation benefits and superior claim
            experience.
            During claims, we will pick up your car, repair it at one of our partner garages, and
            deliver back at no extra cost. If you fail to inform us before any claim-related repairs, you will have to
            pay Rs. 5,000 as a deductible.

          </p>
        </div>
        <div class="col">
          <h1 style="font-size: 150%;">8. Personal Accident Cover</h1>
          <p>Personal Accident Cover is not a car insurance policy, but an additional cover.
            It is mandatory by law to own a Personal Accident Cover along with the Third-party Insurance Plan.
            It covers (for you) both permanent disability and death while driving a car.

          </p>

        </div>
      </div>
      <br><br><br><br><br>

      <h2 style="font-size: 150%;">Understanding coverages of our best car insurance plan</h2>
      <br><br><br>

      <button type="button" class="btn btn-success"><b>Inclusions</b></button> 
      <button type="button" class="btn btn-Light"> <b>Exclusions</b></button>
    </div>
    <br><br><br><br>

    <h1 style="font-size: 150%;"><b>What’s covered in ACKO’s Car Insurance Policy?</b></h1>
    <p>The following situations are covered under our Comprehensive Four wheeler Insurance Policy.
      For inclusions related to a specific plan, please check respective policy wordings.

    </p>
    <br><br><br>

    <p>✅ Third-party liabilities: The coverages offered under a basic Third-party Liability Plan, 
      like property damage, are covered under a Comprehensive Car Insurance Policy.Comprehensive Car Insurance Policy.
    </p>

    
      <p>✅ Theft: Car theft is common in India and you could face a heavy financial loss if your car gets stolen.
         A Comprehensive Policy includes this coverage.
        A Comprehensive Policy includes this coverage
      </p>

      <p>✅ Calamities: Damage from both, natural and man-made calamities are covered under a Comprehensive Car Insurance Policy.
        and man-made calamities are covered under a Comprehensive Car Insurance Policy

      </p>

      <p>✅ Terrorist activities: Damage to your car due to a terrorist activity can lead to major repairs. This is covered under our four wheeler insurance policy.
        This is covered under our four wheeler insurance policy

      </p>
    <p>  
      ✅ Accidents: Accidents are unpredictable and can lead to major effects on health and financial well 
      being of the people involved.and financial well 
      being of the people involved.
    </p>

    <br><br><br>

    <h1 style="font-size: 150%;"><b>Add-ons with ACKO Car Insurance Policy</b></h1>
    <p>Add-ons offer additional coverage for your car insurance policy. However, they 
      increase the cost of your policy so you need to be judicial while opting in. Note that
       these add-ons are subject to availability.

    </p>

<br><br><br><br>

<h1>Angular concepts</h1> 

 <p>we see here Binding</p>

<!-- attribute Binding -->
<a [href]="link" class="btn btn-success"> On project Link</a>&nbsp;&nbsp;&nbsp;&nbsp;

<!-- // event Binding -->
<button class="btn btn-primary" (click)="clickEvent()"> Submit </button>  

<!-- Two way Data Binding -->

<!-- Enter The Project Name: <input type="text" name="ProjectName"[(ngModel)]="ProjectName"> -->

<!-- project Name:<b> {{ProjectName}}</b> -->

<br><br><br><br><br>

<app-card [card]="cardData"></app-card>

<br><br><br>


<div class="row">
  <div class="col-sm-4  mt-3 " *ngFor="let dt1 of cardData1">
      <div class="card " style="height: 300px;">
          <div class="card-body ">
            <img style="width: 25%;" src={{dt1.img1}} class="mx-auto" alt="...">
              <h3 class="card-title">{{dt1.title1}}</h3>
              <p class="card-text"> </p>

                  <p>{{dt1. passage1}}</p>
              
                  
                    <a href={{dt1.img1}}></a>
          </div>
      </div>
  </div>
</div>

<!-- <app-card [card]="cardData1"></app-card> -->
<br><br><br><br>

<p>Read More:<a routerLink="#" class="link-primary"> <mark style="color: blue;">Own Damage and Comprehensive Car Policies</mark></a></p>



 










  </div>