<!-- <p>servi-post-update-delete works!</p> -->

<h3>Policy Terms & Conditions</h3>
<p>PACKAGE POLICY WORDINGS FOR PRIVATE CAR AND COMMERCIAL VEHICLE
Whereas the insured by a proposal and declaration dated as stated in the Schedule
which shall be the basis of this contract and is deemed to be incorporated herein has
applied to the Company for the insurance hereinafter contained and has paid the premium
mentioned in the schedule as consideration for such insurance in respect of accidental
loss or damage occurring during the period of insurance.
NOW THIS POLICY WITNESSETH
That subject to the Terms Exceptions and Conditions contained herein or endorsed or
expressed hereon;
SECTION I. LOSS OF OR DAMAGE TO THE VEHICLE INSURED
1. The Company will indemnify the insured against loss or damage to the vehicle
insured hereunder and / or its accessories whilst thereon
i. By fire explosion self-ignition or lightning ;
ii. By burglary housebreaking or theft ;
iii. By riot and strike;
iv. By earthquake (fire and shock damage);
v. By flood typhoon hurricane storm tempest inundation cyclone hailstorm frost;
vi. By accidental external means;
vii. By malicious act;
viii. By terrorist activity;
ix. Whilst in transit by road rail inland-waterway lift elevator or air;
x. By landslide rockslide.
Subject to a deduction for depreciation at the rates mentioned below in respect of parts
replaced:
a. For all rubber/ nylon / plastic parts, tyres and tubes,
batteries and air bags - 50%
b. For fibre glass components - 30%
c. For all parts made of glass - Nil 
d. Rate of depreciation for all other parts including wooden parts will be as per
the following schedule.
AGE OF VEHICLE % OF DEPRECIATION
Not exceeding 6 months Nil
Exceeding 6 months but not exceeding 1 year 5%
Exceeding 1 year but not exceeding 2 years 10%
Exceeding 2 years but not exceeding 3 years 15%
Exceeding 3 years but not exceeding 4 years 25%
Exceeding 4 years but not exceeding 5 years 35%
Exceeding 5 years but not exceeding 10 years 40%
Exceeding 10 years 50%
e. Rate of Depreciation for Painting: In the case of painting, the depreciation rate
of 50% shall be applied only on the material cost of total painting charges. In
case of a consolidated bill for painting charges, the material component shall
be considered as 25% of the total painting charges for the purpose of applying
the depreciation
2. The Company shall not be liable to make any payment in respect of:-
For Private car:
a. Consequential loss, depreciation, wear and tear, mechanical or electrical
breakdown, failures or breakages
b. Damage to tyres and tubes unless the vehicle is damaged at the same time in
which case the liability of the company shall be limited to 50% of the cost of
replacement.
c. Any accidental loss or damage suffered whilst the insured or any person
driving the vehicle with the knowledge and consent of the insured is under the
influence of intoxicating liquor or drugs.
For Commercial Vehicles:
a. Consequential loss, depreciation, wear and tear, mechanical or electrical
breakdown, failures or breakages nor for damage caused by over loading
or strain of the insured vehicle nor for loss of or damage to accessories by
burglary, housebreaking or theft unless such insured vehicle is stolen at the
same time.
b. Damage to tyres and tubes unless the vehicle is damaged at the same time in
which case the liability of the company shall be limited to 50% of the cost of
replacement.
3
c. Any accidental loss or damage suffered whilst the insured or any person
driving the vehicle with the knowledge and consent of the insured is under the
influence of intoxicating liquor or drugs.
3. In the event of the vehicle being disabled by reason of loss or damage covered under
this Policya. For Private Cars - The Company will bear the reasonable cost of protection and
removal to the nearest repairer and redelivery to the insured but not exceeding
in all ` 1500/- in respect of any one acciden
</p>

<!-- <button type="button" class="btn btn-info">Go to more Information</button> -->

  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }
  </style>


  <div class="center">
    <a  [href]="link2" class="btn btn-info">Go to more Information</a>
  </div>




   

