<nav class="navbar navbar-expand-sm bg-warning navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="compo1"> <b> Comprehensive Car Insuarance</b> </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="ThirdParty"> <b> Third Party Insuarance</b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="manage"> <b>Ragistration Form</b> </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="manage"> <b>Manage Policy</b> </a>
      </li> -->


      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="compo2"> <b>Compo2</b> </a>
      </li> -->


      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="compo3"> <b> Compo3</b> </a>
      </li> -->


      <li class="nav-item">
        <a class="nav-link" routerLink="service"> <b> Information</b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="ServiPostUpdateDelete"> <b>  Policy Terms & Conditions</b> </a>
      
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="Guard01"> <b> Guard(CanActivate)</b> </a>
        </li> -->
  
        


      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="**"></a>
      </li> -->

    </ul>
  </div>
</nav>


 <div class="container">
  <router-outlet></router-outlet>
</div>
 

  
  <!-- <app-compo1></app-compo1>

  <app-compo2></app-compo2>

  <app-service></app-service> -->